.logo_container {
  @include flexPosition(center, center);

  img {
    width: 167px;
    height: auto;
  }

  p {
    margin-top: 1px;
    margin-left: 6px;
    font-size: 1.15em;
    font-weight: bold;
    color: $color-white;

    &.colored {
      color: $color-gradient-01;
    }
  }
}
