.sidebar_container {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: $color-white;
  z-index: 1;

  @media screen and (max-width: 850px) {
    overflow-y: scroll;
  }

  .sidebar_container_inner {
    @include flexPosition(flex-start, flex-start);
    flex-direction: column;
    padding: 0px;
    padding-bottom: 30px;
    width: 0px;

    @media screen and (max-width: 850px) {
      height: 100vh;
    }
  }

  &.sidebar_open {
    @media screen and (max-width: 850px) {
      &::after {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin-left: $sidebar-width;
        content: "";
        background: rgba(0, 0, 0, 0.45);
      }
    }

    .close_menu {
      display: none;

      @include lgScreen {
        @include flexPosition(center, center);
        margin: 20px 12px 32px auto;
        width: fit-content;
        cursor: pointer;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .logo_container {
      margin-bottom: 20px;
      padding: 18px 12px;
      width: fit-content;

      @include lgScreen {
        display: none;
      }

      img {
        width: 100px;
        height: auto;
      }
    }

    .sidebar_container_inner {
      padding: 0 12px 20px 12px;
      width: $sidebar-width;

      .user {
        @include flexPosition(space-between, center);
        gap: 8px;
        padding: 8px 8px 8px 12px;
        width: 100%;
        background: $color-grey-01;
        border-radius: 12px;

        .info {
          @include flexPosition(flex-start, center);
          gap: 8px;
          width: 100%;
          overflow: hidden;

          .icon {
            @include flexPosition(center, center);
            @include circle(38px, 32px);
            padding: 6px;
            background: $color-grey-02;
          }

          p {
            @include ellipsis;
            font-size: 0.95em;
            font-weight: 600;
            width: 100%;
            background: linear-gradient($color-gradient-01, $color-gradient-02);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .chevron {
          @include flexPosition(center, center);

          svg {
            width: 24px;
            height: 24px;

            path {
              color: $color-grey-04;
            }
          }
        }
      }

      .links {
        margin-top: 28px;
        width: 100%;
        height: calc(100vh - 211px);
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0px;
        }
        &::-webkit-scrollbar-thumb {
          width: 0px;
        }

        @media screen and (max-width: 850px) {
          height: 100%;
        }

        .link {
          @include flexPosition(flex-start, center);
          gap: 8px;
          margin-bottom: 22px;

          &:last-child {
            margin: 0;
          }

          &.active {
            .icon {
              background: linear-gradient(
                $color-gradient-01,
                $color-gradient-02
              );

              svg {
                color: $color-white;
              }
            }

            p {
              font-weight: 600;
              background: linear-gradient(
                $color-gradient-01,
                $color-gradient-02
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          .icon {
            @include flexPosition(center, center);
            @include circle(40px, 34px);
            padding: 7px;
            background: $color-grey-02;
          }

          p {
            @include ellipsis;
            font-size: 0.95em;
            font-weight: 500;
            width: 100%;
            color: $color-black-01;
            letter-spacing: 0.2px;
          }
        }
      }
    }
  }
}
